{{ ansible_managed | comment }}
127.0.0.1   {{ common_hostname }}.{{ common_domainname }}    {{ common_hostname }}    localhost

# The following lines are desirable for IPv6 capable hosts
::1         ip6-localhost ip6-loopback
fe00::0     ip6-localnet
ff00::0     ip6-mcastprefix
ff02::1     ip6-allnodes
ff02::2     ip6-allrouters

{% for etc_hosts_entry in common_etc_hosts_extra_entries %}
{{ etc_hosts_entry }}
{% endfor %}
