{{ ansible_managed | comment }}

# The loopback network interface
auto lo
iface lo inet loopback

{% if common_network_interfaces is defined %}
{% for network_interface in common_network_interfaces %}
{% if network_interface.noauto is not defined or network_interface.noauto == False %}
auto {{ network_interface.name}}
{% endif %}
iface {{ network_interface.name}} {{ network_interface.type | default("inet")}} {{ network_interface.configuration_kind | default("static") }}
{% if (network_interface.configuration_kind | default("static")) != "dhcp" %}
    address {{ network_interface.address }}
    netmask {{ network_interface.netmask }}
{% if network_interface.network is defined %}
    network {{ network_interface.network }}
{% endif %}
{% if network_interface.broadcast is defined %}
    broadcast {{ network_interface.broadcast }}
{% endif %}
{% if network_interface.gateway is defined %}
    gateway {{ network_interface.gateway  }}
{% endif %}
{% if network_interface.metric is defined or ifmetric_required %}
    metric {{ network_interface.metric  | default(loop.index * 100) }}
{% endif %}
{% if network_interface.dns_nameservers is defined %}
    dns-nameservers {{ network_interface.dns_nameservers | join(' ') }}
{% endif %}
{% if network_interface.dns_search is defined %}
    dns-search {{ network_interface.dns_search | join(' ') }}
{% endif %}
{% if network_interface.extras is defined %}
{% for extra in network_interface.extras %}
    {{ extra }}
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
